<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="Autofac.Extras.AggregateService" version="4.1.0" targetFramework="net452" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net452" />
  <package id="MultiSelectTreeView" version="1.0.9" targetFramework="net452" />
  <package id="NLog" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net452" />
</packages>